# Virtual Environment
.venv/
venv/
ENV/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class

# PyTorch checkpoints (large weights)
*.pt
*.pth
data/checkpoints/

# System-specific / OS files
.DS_Store
Thumbs.db
